{% comment %}
  Renders a header search bar that is always visible.
  Should be used with 'header.liquid'.

  Accepts:
  - input_id: {String} Id for the search input element (required)

  Usage:
  {% render 'header-search', input_id: 'My-Id'%}
{% endcomment %}
<style>
  .header__icon--search{
    background-color:#E9E9E9;
  }
</style>
<div class="header__search">
 
  <form action="{{ routes.search_url }}" method="get" role="search" class="search">
    <div class="field">
      <input class="search__input field__input"
        id="{{ input_id }}"
        type="search"
        name="q"
        value="{{ search.terms | escape }}"
        placeholder="search"
        {%- if settings.predictive_search_enabled -%}
          role="combobox"
          aria-expanded="false"
          aria-owns="predictive-search-results"
          aria-controls="predictive-search-results"
          aria-haspopup="listbox"
          aria-autocomplete="list"
          autocorrect="off"
          autocomplete="off"
          autocapitalize="off"
          spellcheck="false"
        {%- endif -%}
      >     <summary class="header__icon header__icon--search header__icon--summary link focus-inset modal__toggle" aria-haspopup="dialog" aria-label="search">
      <span>
        <svg class="modal__toggle-open icon icon-search" aria-hidden="true" focusable="false">
          <use href="#icon-search">
        </svg>
      </span>
    </summary>
      <label class="field__label" for="{{ input_id }}">search</label>
      <input type="hidden" name="options[prefix]" value="last">
      {%- if settings.predictive_search_enabled -%}
        <div class="predictive-search predictive-search--header" tabindex="-1" data-predictive-search>
          <div class="predictive-search__loading-state">
            <svg aria-hidden="true" focusable="false" class="spinner" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
              <circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30"></circle>
            </svg>
            
          </div>
          
        </div>
      
        <span class="predictive-search-status visually-hidden" role="status" aria-hidden="true"></span>
      
      {%- endif -%}
     
    </div>
    
  </form>
</div>
